<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
  {% for page_path in site.header_pages %}
    {% assign page_obj = site.pages | where: "path", page_path | first %}
    {% if page_obj.title %}
      <a href="{{ page_obj.url | relative_url }}" 
         {% if page.url == page_obj.url %}class="current"{% endif %}>
        {{ page_obj.title }}
      </a>
    {% endif %}
  {% endfor %}
</nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>